<template>
  <v-app light>
    <v-navigation-drawer
      v-model="drawer"
      class="primary"
      :mini-variant="miniVariant"
      clipped
      fixed
      app
    >
      <v-list nav dense>
        <v-subheader>Búsquedas recientes</v-subheader>
        <v-list-item-group v-model="selectedProfile">
          <v-list-item
            v-for="(item, i) in profiles"
            :key="i"
            :to="`/profile/${item._id}`"
            router
            exact
            @click="storePerson(i)"
          >
            <v-list-item-avatar>
              <v-img :src="item.user.photo" :alt="profileImage"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="item.user.fullName" />
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <loading-modal :is-open="loading"></loading-modal>
    <v-app-bar clipped-left fixed app class="primary" flat height="90vm">
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="4">
            <search-box v-model="newSearch" search-text="Ingrese un perfil de Linkedin" :prepend="true" @searched="searchProfile"/>
          </v-col>
        </v-row>
      </v-container>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-cog</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main class="primary">
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" right temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-title>Configuración</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <search-box v-model="newCookie" search-text="Ingrese su cookie" :validation="CookieRules" @searched="uploadCookie"/>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-snackbar
      v-model="snackbar"
      top
      text
      :color="status"
      light
    >
      {{ errorText }}
      <template #action="{ attrs }">
        <v-btn
          :color="colorBtn"
          icon
          small
          v-bind="attrs"
          @click="snackbar = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import SearchBox from "~/components/search/SearchBox";
import LoadingModal from "@/components/LoadingModal";
import {CookieRules} from "@/helpers/rules";
import profileImage from "~/static/user.png"

export default {
  name: 'DefaultLayout',
  components: {SearchBox, LoadingModal},
  data() {
    return {
      CookieRules,
      ind: 0,
      profileImage,
      drawer: null,
      errorText: '',
      snackbar: false,
      rightDrawer: false,
      clear: false,
      newSearch: '',
      newCookie: '',
      miniVariant: false,
      title: 'P',
      status: 'error',
      colorBtn: 'pink',
      selectedProfile: null,
    }
  },
  computed: {
    ...mapState({
      profiles: state => state.profile.profiles.profiles,
      loading: state => state.profile.profiles.loading,
      cookie: state => state.profile.profiles.cookie,
    }),
  },
  async mounted () {
    await this.getProfiles();
  },
  methods: {
    ...mapActions({
      getProfiles: 'profile/profiles/getProfiles',
      getProfile: 'profile/profiles/getProfile',
    }),
    async searchProfile() {
      if (this.cookie === null || this.cookie === '') {
        this.errorText = 'Registre una cookie';
        this.status = 'error';
        this.colorBtn = 'pink';
        this.snackbar = true;
      } else {
        await this.getProfile({url: this.newSearch, cookie: this.cookie});
        await this.$router.push(`/profile/newSearch`);
      }
    },
    storePerson(ind){
      this.$store.commit('profile/profiles/storeProfile', this.profiles[ind]);
    },
    uploadCookie() {
      if (this.newCookie.length !== 152) {
        this.errorText = 'Cookie incorrecta';
        this.status = 'error';
        this.colorBtn = 'pink';
        this.snackbar = true;
      } else {
        this.errorText = 'Cookie registrada';
        this.status = 'info';
        this.colorBtn = 'green';
        this.snackbar = true;
        this.$store.commit('profile/profiles/storeCookie', this.newCookie);
      }
    }
  }
}
</script>
<style>
.v-navigation-drawer__border{
  width: unset;
}
</style>
