<template>
  <v-card
    class="mx-auto"
    max-width="500"
    max-height="600"
    elevation="0"
    color="#363062"
  >
    <v-window>
      <v-window-item>
        <v-card-title class="text-h6 font-weight-regular justify-space-between">
          <span style="font-size: 0.8em">{{ profile===null?'':profile.education[step]===undefined?'':profile.education[step].fieldOfStudy }}</span>
        </v-card-title>
        <v-card-text>
          <span class="text-caption" style="color: #D3DEDC">
            {{ profile===null?'':profile.education[step]===undefined?'':profile.education[step].degreeName }}
          </span>
        </v-card-text>
      </v-window-item>

    </v-window>

    <v-divider></v-divider>

    <v-card-actions>
      <v-btn
        :disabled="step === 0"
        text
        @click="step--"
      >
        Back
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="step === (profile===null?0:profile.education.length) - 1"
        color="primary"
        depressed
        @click="step++"
      >
        Next
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "EducationSlide",
  computed: {
    ...mapState({
      profile: state => state.profile.profiles.profile,
    }),
  },
  data() {
    return {
      step: 0,
    }
  }
}
</script>

<style scoped>

</style>
