<template>
  <v-card elevation="0" rounded="xl" color="#827397">
    <v-container>
      <v-row>
        <v-list-item three-line>
          <v-list-item-avatar
            class="mt-6 ml-6 mb-6"
            size="70"
            color="grey"
            right
          >
            <v-img :src="profile===null?'':profile.user.photo" alt="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
        <span class="nameText">
          {{profile===null?'':profile.user.fullName}}
        </span>
            <v-expansion-panels class="ml-0 pl-0" popout flat light style="justify-content: left">
              <v-expansion-panel style="background-color: #D8B9C3">
                <v-expansion-panel-header>Sobre mí</v-expansion-panel-header>
                <v-expansion-panel-content>
                  {{profile===null?'':profile.user.description}}
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-list-item-content>
          <v-list-item-action class="mr-3 mt-6">
            <v-icon
              v-if="profile===null?true:!profile.like"
              color="grey lighten-1"
              @click="saveProfile"
            >
              mdi-star-outline
            </v-icon>
            <v-icon
              v-else
              color="yellow darken-3"
              @click="saveProfile"
            >
              mdi-star
            </v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-row>
      <v-row >
        <v-col cols="6">
          <v-card elevation="0" color="#827397">
            <v-card-title class="titleText">
              Educación
            </v-card-title>
            <v-card-text>
              <education-slide/>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card elevation="0" color="#827397">
            <v-card-title class="titleText">
              Habilidades
            </v-card-title>
            <v-card-text>
              <v-chip-group
                v-for="(item, i) in profile===null?[]:profile.skills"
                :key="i"
              >
                <v-chip
                  filter
                  outlined
                >
                  {{ item===undefined?'-':item.skillName}}
                </v-chip>
              </v-chip-group>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import EducationSlide from "@/components/Education";
export default {
  name: "ProfileDetails",
  components: {EducationSlide},
  props: {
    name: {
      type: String,
      default: '',
    }
  },
  computed: {
    ...mapState({
      profile: state => state.profile.profiles.profile,
      url: state => state.profile.profiles.url,
      loading: state => state.profile.profiles.loading,
      cookie: state => state.profile.profiles.cookie,
    }),
  },
  async mounted () {
    if (this.$route.params.id === 'newSearch') {
      await this.getProfile({url: this.url, cookie:this.cookie});
    }
  },
  methods:{
    ...mapActions({
      getProfile: 'profile/profiles/getProfile',
      updateProfile: 'profile/profiles/updateProfile',
      getProfiles: 'profile/profiles/getProfiles',
    }),
    async saveProfile() {
      await this.updateProfile(this.profile);
      this.$store.commit('profile/profiles/updateLike');
      await this.getProfiles();
    }
  }
}
</script>

<style scoped>
.nameText{
  font-family: "Montserrat", sans-serif;
}
.titleText {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #ffff;
}
</style>
