<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <profile-details :name="url"/>
      </v-col>
      <v-col cols="6">
        <profile-interactions />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <profile-time-line />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ProfileDetails from "~/components/profile/Details";
import ProfileTimeLine from "~/components/profile/timeline";
import ProfileInteractions from "~/components/profile/Interactions";
export default {
  name: "ProfileSearched",
  components: { ProfileDetails, ProfileTimeLine, ProfileInteractions },
  data() {
    return {
      url: this.$route.params.id,
    }
  }
}
</script>

<style scoped>

</style>
