<template>
  <v-card elevation="0" rounded="xl" color="#827397" >
    <v-card-title class="title ml-6">
      <span class="titleText">Network</span>
    </v-card-title>
    <v-card-text>
      <v-slide-group
        multiple
        show-arrows
      >
        <v-slide-item
          v-for="n in 4"
          :key="n"
          class="ml-6"
        >
          <v-list-item-avatar
            class="mr-4"
            size="55"
            color="grey"
            right
          >
            <v-img :src="profileImage"></v-img>
          </v-list-item-avatar>
        </v-slide-item>
      </v-slide-group>
    </v-card-text>
  </v-card>
</template>

<script>
import profileImage from "~/static/contact.png"

export default {
  name: "ProfileInteractions",
  data() {
    return{
      profileImage,
      contacts:['a','b','c','d'],
    }
  }
}
</script>

<style scoped>
.titleText {
  font-family: "Montserrat", sans-serif;
}
</style>
