<template>
  <v-container>
    <v-row justify="center">
      <h1>Red Hub Initiative</h1>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-img lazy-src="https://picsum.photos/id/11/100/60" src="https://www.experimenta.es/wp-content/uploads/2017/02/electronic-items-gif-animacion-guillaume-kurkdjian-4.gif" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'IndexPage',
  async mounted () {
    await this.$router.push(`/profile/newSearch`);
  },
}
</script>
