<template>
  <v-card elevation="0" rounded="xl" color="#D3DEDC">
    <v-card-title class="title ml-6">
      <span class="titleText">Timeline</span>
    </v-card-title>
    <v-card-subtitle class="ml-6">
      <span class="subTitleText">Hover to watch more</span>
    </v-card-subtitle>
    <v-card-text class="ml-4 pr-10">
      <v-slide-group
        multiples
        show-arrows
        light
      >
        <v-slide-item
          v-for="(item, n) in profile===null?[]:profile.experiences"
          :key="n"
        >
          <time-card style="min-width: 15em; max-width: 18em" :odd="n%2!==0" :item="item"/>
        </v-slide-item>
      </v-slide-group>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from 'vuex';
import TimeCard from "~/components/profile/timeline/TimeCard";
export default {
  name: "ProfileTimeLine",
  components: { TimeCard },
  computed: {
    ...mapState({
      profile: state => state.profile.profiles.profile,
    }),
  },

}
</script>

<style scoped>
.title {
  color: #363062;
}
.titleText {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.subTitleText {
  color: #363062;
  font-family: "Montserrat", sans-serif;
}
</style>
