<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card elevation="0" rounded="xl" :color="odd?'#D3DEDC':'#4D4C7D'">
          <v-card-title>
            <span :class="odd?'shyTitleText':'titleText'">{{ item.title }}</span>
          </v-card-title>
          <v-card-subtitle class="mt-2">
            <p :class="odd?'shyTitleText':'titleText'">
              <v-icon :color="odd?'#D3DEDC':'#D8B9C3'">mdi-calendar</v-icon>
              <span class="ml-5" style="font-size: 1.2em">{{ item.startDate.substring(0,10) }}</span>
            </p>
            <p :class="odd?'shyTitleText':'titleText'">{{ item.description }}</p>
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-progress-linear
          color="red lighten-2"
          buffer-value="0"
          stream
        ></v-progress-linear>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card elevation="0" rounded="xl" :color="!odd?'#D3DEDC':'#4D4C7D'">
          <v-card-title>
            <span :class="!odd?'shyTitleText':'titleText'">{{ item.title }}</span>
          </v-card-title>
          <v-card-subtitle class="mt-2">
            <p :class="!odd?'shyTitleText':'titleText'">
              <v-icon :color="!odd?'#D3DEDC':'#D8B9C3'" class="mr-3">mdi-calendar</v-icon>
              <span class="ml-5" style="font-size: 0.9em">{{ item.startDate.substring(0,10) }}</span>
            </p>
            <p :class="!odd?'shyTitleText':'titleText'">{{ item.description }}</p>
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "TimeCard",
  props: {
    odd: {
      type: Boolean,
      default: false,
    },
    item: {
      type: Object,
      default: null,
    }
  }
}
</script>

<style scoped>
.titleText {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  color: #ffff;
}
.shyTitleText {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  color: #D3DEDC;
}
</style>
