<template>
  <profile-searched />
</template>

<script>
import ProfileSearched from "~/components/profile";
export default {
  name: "ProfilePage",
  components: {ProfileSearched}
}
</script>

<style scoped>

</style>
