<template>
  <v-text-field
    v-model="inputVal"
    :prepend-inner-icon="prepend?'mdi-magnify':null"
    :label="searchText"
    :rules="validation"
    clear-icon="mdi-send"
    dense
    height="2em"
    single-line
    rounded
    hide-details
    solo
    flat
    class="searchBox"
    light
    clearable
    @click:clear="searched"
  />
</template>

<script>
export default {
  name: 'SearchBox',
  props: {
    'searchText': {
      default: '',
      type: String,
    },
    'value': {
      default: null,
      type: String,
    },
    'validation': { default() {
        return []
      }, type: Array },
    'prepend': {
      default: false,
      type: Boolean
    }
  },
  data() {
    return{
      clear: false,
    }
  },
  computed: {
    inputVal: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
  },
  methods: {
    searched() {
      this.$emit('searched');
    }
  }
};
</script>

<style>

</style>
